{% extends "base.html" %}

{% block content %}
<h1>About</h1>

<h3>{{ title|capfirst|upper|title }}</h3>
<p>This is a template</p>

{{ my_html|safe }}

<p>
, {{ my_number }}
{{ my_list }}

    <ul>

    {{ my_text}} {{my_number}} yagnesh is a good boy
    {% for sub_item in my_list %}
   {% if sub_item == 312 %}
    <li> {{ forloop.counter }} --> {{ sub_item|add:22 }} && </li>
    {% elif sub_item == "ABC" %}
     <li> M ramta jogi </li>
    {% else %}
    <li> {{ forloop.counter }} --> {{ sub_item }} </li>
    {% endif %}


    {% endfor %}

    </ul>



</p>

<ul>
    <li>Item 1</li>
    <li>Item 2</li>
</ul>

<ul>
{% for abc in my_list %}
    {% if abc == 312 %}
        <li>{{ forloop.counter }} - {{ abc|add:22 }}</li>
    {% elif abc == "Abc" %}
        <li>This is not the network</li>
    {% else %}
        <li>{{ forloop.counter }} - {{ abc }}</li>
    {% endif %}
    
    
{% endfor %}
</ul>


{% endblock content %}